container {
  max-width: 1400px;
  margin: auto;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url("../images/children-Gaza.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 350px;
}

header h3 {
  color: rgb(248, 250, 215);
  line-height: 1.5;
  letter-spacing: 3px;
}
header h1 {
  color: rgb(61, 235, 232);
  line-height: 2;
  letter-spacing: 4px;
}
header h2 {
  color: antiquewhite;
  line-height: 1.5;
}
header a {
  margin-top: 25px;
  line-height: 1.5;
  letter-spacing: 2px;
  text-align: center;
  color: antiquewhite;
  text-decoration: none;
  background-color: rgba(127, 244, 255, 0.359);
  padding: 10px;
}
@media (max-width: 800px) {
  .container {
    font-size: x-small;
  }
}
