.container {
}

header {
  display: flex;
  text-align: center;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url("../images/header-pic.jpg");
  background-size: cover;
  height: 500px;
  font-family: "Courier New", Courier, monospace;
  margin-bottom: 30px;
}

header h3 {
  color: rgb(248, 250, 215);
  line-height: 1.5;
  letter-spacing: 3px;

  background-color: #22638b8b;
  border-radius: 30px;
  padding: 20px;
  font-size: 25px;
}
header h1 {
  color: rgb(61, 235, 232);
  line-height: 2;
  letter-spacing: 4px;
  padding: 15px;
  background-color: #4d265b8c;
  border-radius: 30px;
  padding: 20px;
  margin: 100px;
}
header h2 {
  color: antiquewhite;
  line-height: 1.5;
  font-size: 25px;
}
header a {
  margin-top: 25px;
  line-height: 1.5;
  letter-spacing: 2px;
  text-align: center;
  color: antiquewhite;
  text-decoration: none;
  background-color: rgba(127, 244, 255, 0.359);
  border-radius: 30px;
  padding: 20px;
}

.type {
  max-width: 400px;
  height: 300px;
}
p {
  text-align: center;
  display: block;
}
img {
  border-radius: 20px;
}
section {
  display: flex;
  max-width: 1400px;
  padding: 30px;
  background-color: rgba(62, 202, 202, 0.609);
  border-radius: 15px;
}
section .col {
  border: 15px purple;
}

.p-1 {
  display: block;
}
.col {
  text-align: center;
  align-items: center;
  display: block;
  font-size: larger;
}
.type {
  align-items: center;
  text-align: center;
  justify-content: center;
}
footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url("../images/indigenous-art.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 300px;

  font-family: "Courier New", Courier, monospace;

  color: rgb(248, 250, 215);
  line-height: 2;
  letter-spacing: 3px;
  margin: 50px;
}
.footer-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin: auto;
  flex-direction: row;
  text-align: center;
  justify-content: center;
  align-items: center;
}
.col {
  margin: 10px;
}
footer a {
  background-color: #5b093da0;
  color: goldenrod;
  border-radius: 30px;
  padding: 15px;
}
@media (max-width: 800px) {
  .container {
    font-size: x-small;
  }
  img {
    max-width: 100%;
  }
}
